<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
 
  <display-name>Archetype Created Web Application</display-name>
  
   <servlet>
      <servlet-name>actionCategorie</servlet-name>
      <servlet-class>controlers.actionCategorie</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>actionCategorie</servlet-name>
      <url-pattern>/ADMIN/actionCategorie</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>actionPhone</servlet-name>
      <servlet-class>controlers.actionPhone</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>actionPhone</servlet-name>
      <url-pattern>/ADMIN/actionPhone</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>actionAdmin</servlet-name>
      <servlet-class>controlers.adminLogin</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>actionAdmin</servlet-name>
      <url-pattern>/ADMIN/actionAdmin</url-pattern>
   </servlet-mapping>
  
   <servlet>
      <servlet-name>accountClient</servlet-name>
      <servlet-class>controlers.accountClient</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>accountClient</servlet-name>
      <url-pattern>/accountClient</url-pattern>
   </servlet-mapping>
   
     <servlet>
      <servlet-name>addToCart</servlet-name>
      <servlet-class>controlers.addToCart</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>addToCart</servlet-name>
      <url-pattern>/addToCart</url-pattern>
   </servlet-mapping>
   
    <servlet>
      <servlet-name>removeFromCart</servlet-name>
      <servlet-class>controlers.removeFromCart</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>removeFromCart</servlet-name>
      <url-pattern>/removeFromCart</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>checkout</servlet-name>
      <servlet-class>controlers.checkout</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>checkout</servlet-name>
      <url-pattern>/checkout</url-pattern>
   </servlet-mapping>
</web-app>
